version: "3"

include:
  - compose/actualbudget/actualbudget.yaml
  # - compose/duckdns.yaml
  - compose/freshrss/freshrss.yaml
  - compose/invoiceshelf/invoiceshelf.yaml
  - compose/invoiceninja/invoiceninja.yaml
  - compose/hoarder/hoarder.yaml
  - compose/homepage/homepage.yaml
  - compose/manyfold/manyfold.yaml
  - compose/mealie/mealie.yaml
  - compose/newt.yaml
  # - compose/reactive-resume/reactive-resume.yaml
  - compose/redlib/redlib.yaml
  - compose/sablier/sablier.yaml
  - compose/searxng/searxng.yaml
  - compose/silverbullet/silverbullet.yaml
  - compose/ttrss/ttrss.yaml
  - compose/vikunja/vikunja.yaml
  - compose/watchtower.yaml
  - compose/thelounge/thelounge.yaml

services:
  traefik:
    image: traefik:v3.5
    container_name: traefik
    env_file: .env
    command:
      # - --log.level=DEBUG
      - --api=true
      - --api.dashboard=true
      
      - --providers.docker
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=${NETWORK_NAME}

      - --providers.file.directory=/etc/traefik/dynamic
      - --providers.file.watch=true

      - --entryPoints.webSecure.address=:443
      - --entryPoints.actualbudget.address=:${PORT_ACTUALBUDGET}
      - --entryPoints.freshrss.address=:${PORT_FRESHRSS}
      - --entryPoints.hoarder.address=:${PORT_HOARDER}
      - --entryPoints.homepage.address=:${PORT_HOMEPAGE}
      - --entryPoints.invoiceninja.address=:${PORT_INVOICENINJA}
      - --entryPoints.invoiceshelf.address=:${PORT_INVOICESHELF}
      - --entryPoints.manyfold.address=:${PORT_MANYFOLD}
      - --entryPoints.mealie.address=:${PORT_MEALIE}
      - --entryPoints.redlib.address=:${PORT_REDLIB}
      - --entryPoints.rx-res-chrome.address=:${PORT_RX_RES_CHROME}
      - --entryPoints.rx-res-minio.address=:${PORT_RX_RES_MINIO}
      - --entryPoints.rx-resume.address=:${PORT_RX_RES}
      - --entryPoints.searxng.address=:${PORT_SEARXNG}
      - --entryPoints.silverbullet.address=:${PORT_SILVERBULLET}
      - --entryPoints.traefik.address=:${PORT_DASHBOARD}
      - --entryPoints.ttrss.address=:${PORT_TTRSS}
      - --entryPoints.ttrss.forwardedHeaders.insecure
      - --entryPoints.vikunja.address=:${PORT_VIKUNJA}
      - --entryPoints.thelounge.address=:${PORT_THELOUNGE}

      - --experimental.plugins.sablier.modulename=github.com/sablierapp/sablier
      - --experimental.plugins.sablier.version=v1.10.1
    ports:
      # The Web UI
      - "${PORT_DASHBOARD}:${PORT_DASHBOARD}"
      # For certificates renewal
      - "443:443"
      - "${PORT_ACTUALBUDGET}:${PORT_ACTUALBUDGET}"
      - "${PORT_FRESHRSS}:${PORT_FRESHRSS}"
      - "${PORT_HOARDER}:${PORT_HOARDER}"
      - "${PORT_HOMEPAGE}:${PORT_HOMEPAGE}"
      - "${PORT_INVOICENINJA}:${PORT_INVOICENINJA}"
      - "${PORT_INVOICESHELF}:${PORT_INVOICESHELF}"
      - "${PORT_MANYFOLD}:${PORT_MANYFOLD}"
      - "${PORT_MEALIE}:${PORT_MEALIE}"
      - "${PORT_REDLIB}:${PORT_REDLIB}"
      - "${PORT_RX_RES_CHROME}:${PORT_RX_RES_CHROME}"
      - "${PORT_RX_RES_MINIO}:${PORT_RX_RES_MINIO}"
      - "${PORT_RX_RES}:${PORT_RX_RES}"
      - "${PORT_SEARXNG}:${PORT_SEARXNG}"
      - "${PORT_SILVERBULLET}:${PORT_SILVERBULLET}"
      - "${PORT_TTRSS}:${PORT_TTRSS}"
      - "${PORT_VIKUNJA}:${PORT_VIKUNJA}"
      - "${PORT_THELOUNGE}:${PORT_THELOUNGE}"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ./compose/actualbudget/dynamic.yaml:/etc/traefik/dynamic/actualbudget.yaml
      - ./compose/freshrss/dynamic.yaml:/etc/traefik/dynamic/freshrss.yaml
      - ./compose/hoarder/dynamic.yaml:/etc/traefik/dynamic/hoarder.yaml
      - ./compose/homepage/dynamic.yaml:/etc/traefik/dynamic/homepage.yaml
      - ./compose/invoiceninja/dynamic.yaml:/etc/traefik/dynamic/invoiceninja.yaml
      - ./compose/invoiceshelf/dynamic.yaml:/etc/traefik/dynamic/invoiceshelf.yaml
      - ./compose/manyfold/dynamic.yaml:/etc/traefik/dynamic/manyfold.yaml
      - ./compose/mealie/dynamic.yaml:/etc/traefik/dynamic/mealie.yaml
      - ./compose/redlib/dynamic.yaml:/etc/traefik/dynamic/redlib.yaml
      - ./compose/sablier/dynamic.yaml:/etc/traefik/dynamic/sablier.yaml
      - ./compose/searxng/dynamic.yaml:/etc/traefik/dynamic/searxng.yaml
      - ./compose/silverbullet/dynamic.yaml:/etc/traefik/dynamic/silverbullet.yaml
      - ./compose/ttrss/dynamic.yaml:/etc/traefik/dynamic/ttrss.yaml
      - ./compose/vikunja/dynamic.yaml:/etc/traefik/dynamic/vikunja.yaml
      - ./compose/thelounge/dynamic.yaml:/etc/traefik/dynamic/thelounge.yaml
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`${IP_ADDRESS}`)"
      - "traefik.http.routers.api.service=api@internal"
      - "traefik.http.routers.api.entrypoints=traefik"
      - "traefik.http.routers.api.middlewares=traefik-auth"
      - "traefik.http.middlewares.traefik-auth.basicauth.users=${BASIC_AUTH_USR}:${BASIC_AUTH_PSW}"
      - homepage.group=Admin
      - homepage.name=Traefik Dashboard
      - homepage.icon=traefik.svg
      - homepage.href=http://${IP_ADDRESS}:${PORT_DASHBOARD}
      - homepage.description=Traefik admin dashboard.
    networks:
      - frontend
    restart: unless-stopped

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge
