ACTUAL_SERVER_URL=your-server-url
ACTUAL_SERVER_PASSWORD=your-password
CRON_SCHEDULE=0 1 * * *
LOG_LEVEL=info
ACTUAL_BUDGET_SYNC_IDS=budget-sync-id
ENCRYPTION_PASSWORDS=your-encryption-password # or leave empty if you don't encrypt your data, the position of the password in the list is the position of the account in the ACTUAL_BUDGET_SYNC_IDS list; to skip an account, add a comma to the list in that position